---
import BaseLayout from '@/layouts/BaseLayout.astro';

// Page-specific sections
import Pakker from './_sections/Pakker.astro';
import Inkludert from './_sections/Inkludert.astro';
import FAQ from './_sections/FAQ.astro';
import TjenesterCTA from './_sections/TjenesterCTA.astro';
---

<BaseLayout title="Tjenester og priser | Nettup">
  <main>
    <Pakker />
    <Inkludert />
    <FAQ />
    <TjenesterCTA />
  </main>
</BaseLayout>
