---
import BaseLayout from '@/layouts/BaseLayout.astro';

import Hero from './_sections/Hero.astro';
import Values from './_sections/Values.astro';
import Approach from './_sections/Approach.astro';
import CTA from '@/components/sections/CTA.astro';
---

<BaseLayout
  title="Om Nettup | Webdesign Byrå Norge"
  description="Vi så at norske småbedrifter slet med dyre byråer og trege prosesser. Derfor startet vi Nettup – moderne nettsider uten stress."
>
  <main>
    <Hero />
    <Values />
    <Approach />
    <CTA />
  </main>
</BaseLayout>
